# Backend Environment Configuration
DATABASE_URL=sqlite:///./backend/tariff.db
MONGODB_URL=mongodb+srv://<username>:<password>@cluster0.example.mongodb.net/a3_express?retryWrites=true&w=majority
PYTHON_VERSION=3.12.0
